@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

body {
  background-color: #060623;
  color: white !important;
}

@font-face {
  font-family: 'Ttoctosquares';
  src: url('/fonts/ttoctosquares.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, button, a {
  font-family: 'Ttoctosquares', sans-serif !important;
}

.filter{
background: rgba(53, 53, 53, 0.24);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
backdrop-filter: blur(6.7px);
-webkit-backdrop-filter: blur(8px);
}

.cssbuttons-io-button {
  background: #060623;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #060623;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}
.hideMenuNav {
  display: none;
}

.showMenuNav {
  display: flex;
  position: absolute;
  top: 4.5rem;
  right: 0rem;
  color: white;
  background:'black';
  z-index: 99;
  animation: fadeInDown 0.5s ease-in-out;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  justify-content: flex-start;
  padding: 1.5rem;
  text-align: left;
}


@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px) rotateX(-90deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotateX(0);
  }
}
.card-container {
  width: 19rem;
  height: 31rem;
  position: relative;
  border-radius: 0.625rem;
  box-shadow: 0 0.9rem 2.25rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.card .front-content {
  transition: all 1.5s cubic-bezier(0.23, 1, 0.320, 1);
}


.card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  gap: 0.625rem;
  color: #e8e8e8;
  padding: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3125rem;
  transform: translateY(96%);
  transition: all 1s cubic-bezier(0.23, 1, 0.320, 1);
  box-shadow: 0 0.625rem 0.625rem #D53F8C;
}

.card .content .heading {
  font-size: 2rem;
  font-weight: 700;
}

.card:hover .content {
  transform: translateY(0);
}

.card:hover .front-content {
  transform: translateY(-30%);
}

.card:hover .front-content p {
  opacity: 0;
}
